name: "Project Bedrock CI/CD"

on:
  push:
    branches: [ master ]

jobs:
  terraform:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./terraform
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      # This creates the physical file Terraform's backend looks for first
      - name: Create AWS Credentials File
        run: |
          mkdir -p ~/.aws
          echo "[default]" > ~/.aws/credentials
          echo "aws_access_key_id=${{ secrets.AWS_ACCESS_KEY_ID }}" >> ~/.aws/credentials
          echo "aws_secret_access_key=${{ secrets.AWS_SECRET_ACCESS_KEY }}" >> ~/.aws/credentials

      - name: Terraform Init
        env:
          AWS_REGION: us-east-1
        run: terraform init -input=false

      - name: Terraform Apply
        env:
          AWS_REGION: us-east-1
        run: terraform apply -auto-approve -input=false
