name: "Project Bedrock CI/CD"

on:
  push:
    branches: [ master, main ]
  workflow_dispatch:

jobs:
  terraform:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_wrapper: false

      - name: Terraform Init
        working-directory: ./terraform
        env:
          KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          ACCESS_KEY: ${{ secrets.AWS_SECRET_KEY_NEW }}
        run: |
          terraform init \
            -backend-config="access_key=$KEY_ID" \
            -backend-config="secret_key=$ACCESS_KEY" \
            -backend-config="region=us-east-1"

      - name: Terraform Plan
        working-directory: ./terraform
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_KEY_NEW }}
          AWS_REGION: us-east-1
        run: terraform plan

      - name: Terraform Apply
        working-directory: ./terraform
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_KEY_NEW }}
          AWS_REGION: us-east-1
        run: terraform apply -auto-approve
