name: "Project Bedrock CI/CD"

on:
  push:
    branches: [ master, main ]
  workflow_dispatch: # Aligned with 'push'

jobs:
  terraform:
    runs-on: ubuntu-latest
    # Aligned under the job name
    permissions:
      contents: read
      id-token: write
    defaults:
      run:
        working-directory: ./terraform

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4


      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_wrapper: false

      - name: Terraform Init
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: "${{ secrets.AWS_SECRET_KEY_NEW }}"
        run: |
          terraform init \
            -backend-config="access_key=${{ secrets.AWS_ACCESS_KEY_ID }}" \
            -backend-config="secret_key=${{ secrets.AWS_SECRET_KEY_NEW }}" \
            -backend-config="region=us-east-1" \
            -input=false

      - name: Terraform Plan
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: "${{ secrets.AWS_SECRET_KEY_NEW }}"
        run: terraform plan -input=false

      - name: Terraform Apply
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: "${{ secrets.AWS_SECRET_KEY_NEW }}"
        run: terraform apply -auto-approve -input=false
